main > div{
    margin: 1em;
}

.main-text{
    margin-top: 8rem;
    padding: 5rem;   
}

.citacao-bio {
    background-color: #D9E5E3;
    border: .5em solid #C2CCCA;
    padding: 1em;
    margin: 1em 2em;
    width: 30ch;
    box-sizing: border-box;
}

.citacao-bio:nth-of-type(odd){
    float: right;
    margin-right: 0;
}

.citacao-bio:nth-of-type(odd):hover,
.citacao-bio:nth-of-type(odd):focus{
   transform: scale(1.2) rotate(5deg);
   box-shadow: 0 0 0 9999px rgba(0, 0, 0, .8);

}

.citacao-bio:nth-of-type(even):hover,
.citacao-bio:nth-of-type(even):focus{
   transform: scale(1.2) rotate(-5deg);
   box-shadow: 0 0 0 9999px rgba(0, 0, 0, .8);
}

.citacao-bio:nth-of-type(even){
    float: left;
    margin-left: 0;
}

.container > p::first-letter{
    font-size: 2em;
    font-weight: bold;
    color:  rgba(54, 57, 70, 1);;
    text-shadow: 1px, 1px, 2px, black;
    margin-right: .2ch;
    line-height: 1;
}

blockquote > cite{
    float: right;
}

blockquote > p::before{
    content: "“";
    color: #BBB;
    position: absolute;
    font-size: 10em;
    line-height: .7;

}

.citacao-bio > p {
    position: relative;
}

.petrobras {
    float: left;
    margin-left: 0;
}

.fiat {
    float: right;
    margin-right: 0;
}
