main > div{
    margin: 1rem;
}

blockquote > cite{
    float: right;
}

blockquote > p::before{
    content: "“";
    color: #BBB;
    position: absolute;
    font-size: 10rem;
    line-height: .7;

}