.card{
    border: 1px solid lightskyblue;
    padding: 1rem;
    border-radius: 0.5rem;
}

.highlight-grid{
    display: grid;
}

.highlight-content{
    grid-area: content;
    padding: 0.5rem;
}

.highlight-image{
    grid-area: img;
}

.highlight-template-columns{
    grid-template-columns: 2fr 1fr;
}

.highlight-template-areas{
    grid-template-areas: 
    "img content content"
    "img content content"
    "img content content";
}

.leia-mais {
    padding: .5em;
    margin: 1em;
    display: block;
    font-size: 1.5em;
    text-align: center;
    background-color: #E6E7E8;
}
.posts-cards{
    display: flex;
}
.post-blog + .post-blog{
    /* trocamos padding-bottom e margin-bottom por
        padding-top e margin-top */
    padding-top: 1em;
    margin-top: 1.5em;
    background-image: linear-gradient(to right, 
        rgba(200, 200, 200, 0), 
        rgba(200, 200, 200, 1), 
        rgba(200, 200, 200, 0)
    );
    background-size: 100% 1px;
    background-repeat: no-repeat;
    /* trocamos "bottom center" por "top center" */
    background-position: top center;
}
