.about-me {
    display: flex;
    flex-flow: column;
}

.about-me > figure {
    order: -2;
}

#buttons-panel {
    order: -1;
}

.bio-short {
    display: block;
}

.bio-long {
    display: none;
}

.main-text > p {
    font-size: 1.8rem;
    line-height: 2.4rem;
}

#short-button {
    color: tomato;
    border: tomato solid 0.1rem;
}