/* Coolors Exported Palette - coolors.co/5496b8-000000-363946-eee3ab-e5dcc5 */

/* HSL */
$color1: hsla(200%, 41%, 53%, 1);
$color2: hsla(0%, 0%, 0%, 1);
$color3: hsla(229%, 13%, 24%, 1);
$color4: hsla(50%, 66%, 80%, 1);
$color5: hsla(43%, 38%, 84%, 1);

/* RGB */
$color1: rgba(84, 150, 184, 1);
$color2: rgba(0, 0, 0, 1);
$color3: rgba(54, 57, 70, 1);
$color4: rgba(238, 227, 171, 1);
$color5: rgba(229, 220, 197, 1);