body {
    font-family: "Crimson Text", "Times New Roman", serif;
    background-color: #fff;
    font-size: 120%;
    line-height: 1.5;
}

.container {
    max-width: 1330px;
    margin: auto;
    padding: 2rem;
}

footer {
    background-color: #000;
    color: #FFF;
    padding: 2rem;
}
footer h2 {
    font-size: 3rem;
}
footer a {
    color: lightskyblue;
}

footer > .container{
    display: flex;
    flex-flow: wrap;
}

footer > .container > p{
    margin:auto;
    padding-bottom: 1rem;
}

.gap {
	gap: 20px;
}

header{
    text-shadow: 0.05rem 0.05rem #000;
}

.header-titulo{
    margin-left: 1rem;
}

.header-titulo > h1{
    margin: 1rem;
    font-size: 2.1rem;
}

em {
    font-style: italic;
}

.icones-redes-sociais{
    margin: auto;
    padding-bottom: 1rem;
}

.icones-redes-sociais a {
    width: 40px;
    height: 40px;
    display: block;
    position: relative;
    text-indent: -99999px;
}

.icones-redes-sociais a:hover::before,
.icones-redes-sociais a:focus::before {
    content: '';
    background-color: black;
    width: 1rem;
    height: 1rem;
    position: absolute;
    bottom: 0;
    left: 0;
    transform: translateY(.8rem) rotate(45deg);
}

.icones-redes-sociais a:hover::after,
.icones-redes-sociais a:focus::after {
    content: attr(data-tooltip);
    position: absolute;
    top: 100%;
    right: 0;
    text-indent: 0;
    width: 300%;
    background: black;
    font-size: .75rem;
}

.icones-redes-sociais li {
    display: inline-block;
}

main {
    padding-bottom: 4rem;
}

main a {
    color: lightskyblue;
}

main a:hover,
main a:focus,
footer a:hover,
footer a:focus{
    color: rgb(197, 231, 252);
}

main p {
    text-align: justify;
    margin: 1rem 0;
}

.minha-foto {
    flex: 1 1 auto;
    height: 100px;
    max-width: 100px;
    border-radius: 50%;
    margin: 1rem;
}

ul li{
    margin: 5px;
}

nav{
    background-color: lightskyblue;
}

nav ul a{
    font-size: 1.2rem;
}

strong {
    font-weight: bold;
}

.titulo-principal {
    text-align: center;
    background-color: lightskyblue;
    color: #FFF;
    padding: 2rem;
    border-bottom: .5rem solid #000;
}

/*Ícones*/

.github {
    background-image: url(../imagens/github.png);
}

.twitter {
    background-image: url(../imagens/twitter.png);
}

.linkedin {
    background-image: url(../imagens/linkedin.png);
}

/*end Ícones*/
