---
layout: default-layout.njk
title: 404
pagetitle: Ops! Não foi encontrado :(
---
<link rel="stylesheet" href="/css/me.css" />
<section>
    <div class="container main-text">
        <p>O caminho que você tentou acessar não existe :( que tal voltar a <a href="/">home page?</a></p>
    </div>    
</section>