---
layout: default-layout.njk
title: 404
permalink: /404.html
pagetitle: 404
---
<link rel="stylesheet" href="/css/me.css" />
<article class="container main-text">
    <h2>Ops! Não foi encontrado</h2>
    <p>O caminho que você tentou acessar não existe :( que tal voltar para a <a href="/">home page?</a></p>
</article>