---
layout: default-layout.njk
title: 5xx
permalink: /5xx.html
pagetitle: 5xx
---
<link rel="stylesheet" href="/css/me.css" />
<section class="container main-text">
    <h2>Ops! Algo deu errado</h2>
    <p>Algo deu muito errado aqui :( que tal voltar para a <a href="/">home page?</a></p>
</section>