---
layout: default-layout.njk
title: 5xx
pagetitle: Ops! Algo deu errado :(
---
<link rel="stylesheet" href="/css/me.css" />
<section>
    <div class="container main-text">
        <p>Algo deu muito errado aqui :( que tal voltar a <a href="/">home page?</a></p>
    </div>    
</section>