---
layout: default-layout.njk
title: Homepage
pagetitle: Olá, eu me chamo Igor. Desenvolvedor em SSA
languages: ["JavaScript", "TypeScript", "C#", "Elixir"]
frontend: ["React", "Vanilla JS"]
backend: ["Node.js", "Phoenix", "ASP.Net"]
databases: ["PostgreSQL", "Microsoft SQL Server"]
---
<link rel="stylesheet" href="/css/index.css" />
<article class="container">
    <h2 class="hidden">Bem vindo!</h2>
    <figure>
        <img class="img-large" loading="lazy" src="/img/eu.jpg" alt="Minha Foto"  width="962" height="292">
    </figure>
    <section class="main-text about">
        <p> 
            Olá, seja bem vindo! Me chamo Igor, nasci em 1995, sou soteropolitano, amo pães, sou pai de planta, amo esportes coletivos, principalmente futebol, basquete e vôlei. 
            Eu adoro ler livros e artigos, principalmente de sociedades fora do eixo "ocidental".
        </p>
        <p>
            Trabalho com desenvolvimento web (fullstack), mas hoje atuo na maior parte como backend, onde já desenvolvi em projetos para os setores de educação, financeiros e empresarial,
            além de ter experiência com o básico de infraestrutura e devops.
        </p>
    </section>
</article>
<article class="secao-tecnologias container main-text">
    <h2>Tecnologias com as quais tenho experiência</h2>
    <div class="flex-center">
        <section class="lista-tecnologias">
            <h3>Linguagens</h3>
            <ul>
                {% for language in languages %}
                    <li>{{language}}</li>
                {% endfor %}
            </ul>
        </section>
        <section class="lista-tecnologias">
            <h3>Frontend</h3>
            <ul>
                {% for item in frontend %}
                    <li>{{item}}</li>
                {% endfor %}
            </ul>
        </section>
        <section class="lista-tecnologias">
            <h3>Backend</h3>
            <ul>
                {% for item in backend %}
                    <li>{{item}}</li>
                {% endfor %}
            </ul>
        </section>
        <section class="lista-tecnologias">
            <h3>Banco de Dados</h3>
            <ul>
                {% for item in databases %}
                    <li>{{item}}</li>
                {% endfor %}
            </ul>
        </section>
    </div>
</article>
