---
layout: default-layout.njk
title: Sobre mim
pagetitle: Igor Costa dos Santos Desenvolvedor em SSA
---
<link rel="stylesheet" href="/css/me.css" />
<article class="container main-text about-me">
    <h2>Sobre mim</h2>
    <figure>
        <img class="img-large" loading="lazy" src="/img/eu.jpg" alt="Minha Foto"  width="962" height="292">
    </figure>
    <div id="buttons-panel" class="flex-center">
        <button type="button" id="short-button">Breve</button>
        <button type="button" id="long-button">Longo</button>
    </div>
    <div id="bio-short" class="bio-short main-text">
        <p>
            Olá! Me chamo Igor e hoje atuo como desenvolvedor backend na Cubos Tecnologia, onde trabalhei em projetos nos setores de educação, bancário, e B2C. 
            Também atuo administrando a Infraestrutura Cloud de serviços de software, na área de DevOps. Amo pães, sou pai de planta, amo esportes coletivos, principalmente futebol, basquete e vôlei. 
            Eu adoro ler livros e artigos, principalmente de sociedades fora do eixo "ocidental".   
        </p>
    </div>
    <div id="bio-long" class="bio-long main-text">
        <p>
            Oi! Me chamo Igor, e hoje atuo como desenvolvedor backend na Cubos Tecnologia. Da minha experiência, já trabalhei em projetos nos setores de educação, bancário, e B2C, além de administrar a 
            Infraestrutura Cloud de serviços de software, na área de DevOps. Também hoje atuo com o setor comercial, trabalhando com estimativa de equipes e planejamento de projetos de software.
        </p>
        <p>
            Minha especialidade envolve mais backend, mas não tenho problemas em executar tarefas como frontend e venho adquirindo cada vez mais conhecimento em Cloud 
            Computing e em planejamento de projetos. Sou membro atuante do Comitê de Diversidade na Cubos, e também faço mentoria com pessoas que estão planejando ou 
            tendo primeiro contato com programação. 
        </p>
        <p>
            Nasci em 1995, sou soteropolitano, amo pães, pai de planta, amo esportes coletivos, principalmente futebol, basquete e vôlei. 
            Eu adoro ler livros e artigos, principalmente de sociedades fora do eixo "ocidental". Hoje digo com a alegria que sou privilegiado de
            ter conseguido realizar um dos meus maiores desejos de criança que é entender como eletrônicos como o videogame e o computador funciona, desde a primeira vez
            em que vi um funcionar, onde despertou a curiosidade em entender como você pluga na tomada, liga o videogame, mexe no joystick, e a tela acaba mexendo e muda. 
            Sempre fui ratinho de videogame e descobri o mistério de entender como é que funciona, e mais do que isso, digo hoje que eu sei o básico para desenvolver qualquer sistema! :D  
        </p>
        <p>
            Curiosidade minha sobre coisas com as quais hoje não atuo mais: Já implementei algumas APIs RESTful com Java, e até mesmo com coisas incomuns como <em>XPages</em> e <em>PowerBuilder</em>. 
            Também já atuei até mesmo com o design de circuitos utilizando Verilog!
        </p>
    </div>
</article>
<script src="/js/me.js"></script>