---
layout: default-layout.njk
title: Sobre mim
pagetitle: Igor Costa dos Santos Desenvolvedor em SSA
---
<link rel="stylesheet" href="/css/me.css" />
<section>
    <div class="container main-text">
        <img class="img-large" src="/img/eu.jpg" alt="Minha Foto">
        <div class="flex-center">
            <button id="short-button">Breve</button>
            <button id="long-button">Longo</button>
        </div>
        <h2>Sobre mim</h2>
        <div id="bio-short" class="bio-short main-text">
            <p>
                Me chamo Igor, nasci em 1995, sou soteropolitano, amo pães, pai de planta, amo esportes coletivos, principalmente futebol, basquete e vôlei. 
                Eu adoro ler livros e artigos, principalmente de sociedades fora do eixo "ocidental".   
            </p>
        </div>
        <div id="bio-long" class="bio-long main-text">
            <p>Bastante curioso por frameworks modinhas, música e sistemas embarcados.</p> 
            <p>
                Me chamo Igor, nasci em 1995, sou soteropolitano, amo pães, pai de planta, amo esportes coletivos, principalmente futebol, basquete e vôlei. 
                Eu adoro ler livros e artigos, principalmente de sociedades fora do eixo "ocidental". Hoje digo com a alegria que sou privilegiado de
                ter conseguido realizar um dos meus maiores desejos de criança que é entender como eletrônicos como o videogame e o computador funciona, desde a primeira vez
                em que vi um funcionar, onde despertou a curiosidade em entender como você pluga na tomada, liga o videogame, mexe no joystick, e a tela acaba mexendo e muda. 
                Sempre fui ratinho de videogame e descobri o mistério de entender como é que funciona, e mais do que isso, digo hoje que eu sei o básico para desenvolver qualquer sistema! :D       
            </p>
            <p>
                Essa poderia ser a minha definição, sou adorador de desenvolvimento multiplataforma, 
                e cada vez mais abrindo a cabeça para múltiplas linguagens. Mas sabe-se lá o motivo tenho alguma empatia
                por Javascript e seus frameworks modinhas como React e Vue, além de Python e C#. 
            </p>
            <p>
                Já trabalhei com a plataforma .NET utilizando C#, SQL Server. Também 
                já implementei algumas APIs RESTful com Java, muito JavaScript tanto no back quanto no front,
                e até mesmo com coisas incomuns como <em>XPages</em> e <em>PowerBuilder</em>. 
                Também já atuei até mesmo com o design de circuitos utilizando Verilog! 
            </p>
            <p>
                Bastante curioso por como a TV, o videogame, a rádio, o computador funcionam, sou baiano de Salvador cheio do dendê, mas não tenho problemas quanto a localização (Principalmente na era remota). Sou conhecido principalmente pela curiosidade em aprender coisas novas,
                e por buscar manter a <em>qualidade</em> nos códigos, <em>simplicidade</em> nas soluções e código limpo, com serviços que agregam valor para as minhas soluções.
                <strong><em>AMO</em></strong> aprender novas tecnologias, por isso sempre estou lendo ou fazendo projetos por menor que seja envolvendo alguma hipsteria.
            </p>
        </div>
    </div>    
</section>
<script src="/js/me.js"></script>